*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}
.emoji {
  --emoji-size: 200px;
  margin: 1rem;
  width: var(--emoji-size);
  height: var(--emoji-size);
}
.head {
  border-radius: 50%;
  background-color: #ffc830;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
}
.eyes {
  position: absolute;
  top: calc(var(--emoji-size) * 0.25);
  left: calc(var(--emoji-size) * 0.5);
}
.eye {
  position: absolute;
  top: calc(var(--emoji-size) * 0.045);
  left: calc(var(--emoji-size) * 0.15);
  background-color: black;
  border-radius: 50%;
  height: 1.6rem;
  width: 0.8rem;
}
.eye-left {
  left: calc(var(--emoji-size) * -0.2);
}
.eye-right {
  right: calc(var(--emoji-size) * -0.2);
}

.mouth {
  position: absolute;
  background-color: black;
  left: calc(var(--emoji-size) * 0.5);
  top: calc(var(--emoji-size) * 0.6);
  transform: translateX(-50%);
}

/* Smile emoji */
.smile {
  --mouth-height: calc(var(--emoji-size) * 0.3);
  height: var(--mouth-height);
  width: calc(var(--emoji-size) * 0.6);
  border-radius: 5% 5% var(--mouth-height) var(--mouth-height);
}
/* Smile emoji */

/* Face mask emoji */
.facemask {
  overflow: hidden;
  z-index: -3;
}
.face-mask {
  left: calc(var(--emoji-size) * 0.2);
  transform: none;
  background-color: white;
  height: calc(var(--emoji-size) * 0.35);
  width: calc(var(--emoji-size) * 0.6);
  border: calc(var(--emoji-size) * 0.02) solid #999;
  border-radius: 10%;
  /* position: relative; */
  top: 110px;
}
.strap {
  position: absolute;
  background-color: white;
  height: calc(var(--emoji-size) * 0.1);
  width: calc(var(--emoji-size) * 0.5);
  border: calc(var(--emoji-size) * 0.02) solid #999;
  top: -30px;
  z-index: -2;
}
.strap-top-left {
  left: calc(var(--emoji-size) * -0.4);
  top: calc(var(--emoji-size) * -0.05);
  transform: rotate(20deg);
}
.strap-top-right {
  right: calc(var(--emoji-size) * -0.4);
  top: calc(var(--emoji-size) * -0.05);
  transform: rotate(-20deg);
}
.strap-bottom-left {
  left: calc(var(--emoji-size) * -0.4);
  bottom: calc(var(--emoji-size) * -0.06);
  top: 66px;
  transform: rotate(-30deg);
}
.strap-bottom-right {
  right: calc(var(--emoji-size) * -0.4);
  bottom: calc(var(--emoji-size) * -0.06);
  top: 66px;
  transform: rotate(30deg);
}
/* Face mask emoji */

/* Surprise emoji */
.open-mouth {
  height: calc(var(--emoji-size) * 0.25);
  width: calc(var(--emoji-size) * 0.2);
  border-radius: 50%;
}
.sweat-smile {
  background-color: lightblue;
  width: 50px;
  height: 50px;
  position: relative;
  top: 2rem;
  left: 9.3rem;
  border-top-left-radius: 0;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px;
  transform: rotate(45deg);
  box-shadow: 1px 1px 7px #1a1a1a;
}

/* Joy */
.joy-left {
  top: 5rem;
  left: 0.5rem;
  transform: rotate(90deg);
  background-color: lightblue;
  width: 50px;
  height: 50px;
  position: relative;
  border-top-left-radius: 0;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px;
  box-shadow: 1px 1px 7px #1a1a1a;
}
.joy-right {
  top: 2rem;
  left: 9rem;
  background-color: lightblue;
  width: 50px;
  height: 50px;
  position: relative;
  border-top-left-radius: 0;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px;
  box-shadow: 1px 1px 7px #1a1a1a;
}
/* Joy */

/* Heart eyes */
.heart-eyes{
    position: relative;
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: red;
    margin: 1rem;
  }
  .heart-eyes:before,
  .heart-eyes:after{
    position: absolute;
    width: 40px;
    height: 40px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: red;
  }
  .heart-eyes:before{
    bottom: 0px;
    left: -20px;
  }
  .heart-eyes:after{
    top: -20px;
    right: 0px;
  }
  .left-eye{
      top: -0.55rem;
      left: -5rem;
  }
  .right-eye{
      top: -4rem;
      right: -0.75rem;
  }
/* Heart eyes */
